
body {
    text-align: center;
    background-color: #F5FFFA;
}

h1 {
    text-align: center;
    color: darkgreen;
    font-size: xxx-large;
    padding: 12px;
    margin: 12px;
}

h2 {
    padding: 12px;
    margin: 12px;
}

nav {
    text-align: center;
    background-color: #333;
    overflow: hidden;
    border: 2px white;
    padding: 10px;
    margin-bottom: 100px;
}


/*div {*/
/*    float: center;*/
/*    text-align: center;*/
/*    padding-top: 100 px;*/
/*}*/

/*
div {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

div2 {
    width: 150px;
    height: 150px;
}
*/

a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.row {
    padding: 10px;
}

.carousel {
    width: 50%;
    margin: auto;
}

.card {
    margin: auto;
}

.lightbox-thumbnail {
    max-width: 500px;
    height: auto;
}

.lightbox {
    max-width: 90%;
    max-height: 90%;
}

.lightbox img {
    max-width: 100%;
    max-height: 100%;
}

label {
    font-weight: bold;
}

